
.rootContent{
  flex: unset;
  padding: 0;
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
}
.root {
  max-width: 1048px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 96px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 85px;
  }
}
.itemDate{
  border: 2px solid var(--gray-20);
  padding: 16px 34px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 24px;
  .iconActive{
    display: none;
  }
}

.itemDateActive{
  border: 2px solid var(--cimigo-blue) !important;
  padding: auto 36px 16px 36px !important;
  position: relative;
  .iconActive{
    display: block !important;
    position: absolute;
    top: 10px ;
    right: 10px;
    svg{
      border: 1px solid var(--white);
      width: 17px;
      height: 17px;
      background: var(--cimigo-blue);
      color: var(--white);
      border-radius: 50%  ;
    }
  }
}
.listDate{
  padding-top: 24px;
  .contentListDate{
    display: flex;
    flex-wrap: wrap;
  }
}
.note{
  span {
    font-weight: 600;
  }
}
.linkViewPS{
  display: flex;
  svg{
    color: var(--cimigo-blue);
  }
}
.btnFooter{
  display: flex;
  justify-content: right;
  margin-right: -15px;
  .btnBack{
    margin-right: 16px;
    border-color: var(--white);
  }
}
.disTermsOfServices{
  text-align: right;
}

.viewPaymentScheduleTextWrapper {
  display: flex;
  align-items: center;
  .rotateIcon {
    transform: rotate(90deg);
  }
}
.listPayment{
  .payment{
    width: 100%;
    border: 1px solid var(--gray-2);
    border-radius: 8px;
    background: var(--gray-2);
    .contentPayment{
      padding: 16px 0px 16px 24px;
    }
  }
}
.iconDolar{
  position: relative;
  top: 5px;
  padding-right: 10px;
}
.linkTermOfService{
  color: var(--gray-60);
  text-decoration:underline;
}