.paper {
  width: 550px;
  max-width: 550px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  color: #08182a;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px;
  p {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #08182a;
    svg {
      font-size: 32px;
      margin-right: 15px;
      color: #f2bb2e;
    }
  }
  button {
    background-color: #ffffff !important;
  }
}
.body {
  border: none !important;
  padding: 0 24px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(28, 28, 28, 0.65);
}
.btnBox {
  padding: 0px 24px 24px;
  display: flex;
  justify-content: flex-end;
  > * {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}
