@import "assets/scss/util/breakpoint";

.root {
  height: auto !important;
  min-height: 100vh;
  display: block;
  position: relative;
  top: 0;
}

.mainPanel {
  position: relative;
  float: right;
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  min-height: 100%;
  width: 100%;
  z-index: 99;
  overflow: hidden;
  @include up(md) {
    width: calc(100% - var(--drawer-width));
  }
}

.content {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  padding: 100px 15px 30px 15px;
  height: 100vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}