.root {
  padding: 0px;
}
.titleCard{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  @media only screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
  .imgCard {
    max-width: 42px;
    max-height: 42px;
    margin-right: 10px;
  }
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1240px !important;
  padding-left: 64px;
  padding-right: 64px;
  min-height: 800px;
  @media only screen and (max-width: 1024px) {
    max-width: 1024px !important;
    padding-left: 24px;
    padding-right: 24px;
  }
  @media only screen and (max-width: 767px) {
    max-width: 550px !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.rootStepper {
  padding: 30px 0px 50px 0px;
  width: 40%;
  margin: auto;
  min-width: 400px;
  @media only screen and (max-width: 767px) {
    min-width: 340px;
    width: 40%;
    padding: 30px 0px 30px 0px;
  }
}
.rootStepLabel {
  font-weight: 400;
  font-size: 16px;
  color: rgba(28, 28, 28, 0.4);
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
}
.rootStepLabelCompleted {
  color: var(--cimigo-green-dark-2) !important;
  font-weight: 600 !important;
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 500;
  }
}
.rootStepLabelActive {
  color: var(--cimigo-green-dark-2) !important;
  font-weight: 600 !important;
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 500;
  }
}
.rootConnector {
  top: 16px !important;
  margin: 0px 7px !important;
}
.activeConnector {
  span {
    border-color: var(--cimigo-green-dark);
  }
}

// ========================= Select solution =====================

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @media only screen and (max-width: 767px) {
    margin-bottom:8px;
  }
  .title{
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 48px !important;
  }
}
.header > div {
  width: 30%;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}
.header > div > div {
  @media only screen and (max-width: 767px) {
    border-radius: 40px;
  }
}
.stack {
  @media only screen and (max-width: 767px) {
    overflow: auto;
    padding-left: 19px;
    padding-right: 19px;
  }
  @media only screen and (max-width: 846px) {
    padding-right: 19px;
  }
}
.body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -9px;
  padding: 16px 0px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    padding: 24px 19px;
    margin: 0px;
  }
}
.headerContent {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    justify-content:center;
    display: block;
  }
}
.headerContentInput {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.headerContentInput2 {
  @media only screen and (max-width: 767px) {
    display: block;
    padding-bottom: 19px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: center;
  }
  @media only screen and (min-width: 767px) {
    display: none;
  }
}
.card {
  background: var(--cultured-gray);
  cursor: pointer;
  min-height: 300px;
  max-width: 23%;
  display: flex;
  padding: 24px 24px 60px 24px;
  justify-items: center;
  align-items: center;
  flex: 1 1 21%;
  margin: 12px;
  min-width: 225px;
  flex-direction: column;
  > div > img {
    margin: 0px auto;
    width: 48px;
    height: 48px;
    display: block;
    object-fit: contain;
  }
  span {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: var(--eerie-black);
    @media only screen and (max-width: 767px) {
      text-align: start;
    }
  }
  .icReadMore {
    display: none;
  }
  .icReadMoreGray {
    display: block;
  }
  .ticketBox {
    display: none;
  }
  &.cardSelect,
  &:hover {
    background: var(--cimigo-blue);
    p {
      color: var(--ghost-white);
    }
    span {
      color: var(--ghost-white);
    }
    @media only screen and (max-width: 767px) {
      .btnReadMoreRoot {
        background: rgba(8, 24, 42, 0.2);
        color: rgba(255, 255, 255, 0.8);
        .icReadMore {
          display: block;
        }
        .icReadMoreGray {
          display: none;
        }
        &:hover {
          background: rgba(8, 24, 42, 0.2);
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .ticketBox {
        position: relative;
        bottom: -10px;
        right: -4px;
        display: flex;
        justify-content: center;
        align-items: center;
        img:first-child {
          position: absolute;
        }
        svg {
          position: absolute;
          right: -13px;
          bottom: -10px;
          width: 12px;
          height: 9px;
          path {
            background-color: var(--cimigo-blue-dark-3);
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    max-width: 100%;
    padding: 30px 24px;
    flex: unset;
    margin: 0px 0px 24px 0px;
    justify-items: unset;
    align-items: unset;
    justify-content: space-between;
  }
}
.cardComing {
  background: var(--ghost-white);
  min-height: 300px;
  max-width: 23%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 21%;
  margin: 12px;
  min-width: 225px;
  @media only screen and (max-width: 767px) {
    max-width: 100%;
    min-height: 335px;
    margin: 0px 0px 24px 0px;
  }
  
  .titleComing {
    background: var(--eerie-black-5);
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.025em;
    color: var(--eerie-black-65);
    margin-bottom: 24px;
  }
  > img {
    margin: 0px auto;
    width: 48px;
    height: 48px;
    display: block;
    object-fit: cover;
  }
  span {
    text-align: left;
    padding: 0px 24px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: rgba(28, 28, 28, 0.4);
  }
  button {
    color: rgba(28, 28, 28, 0.2);
    background: rgba(28, 28, 28, 0.2);
  }
}

.category {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
}
.categorySelected {
  background: var(--cimigo-blue-light-3);
  color: var(--cimigo-blue-dark-2);
  border: 1px solid var(--cimigo-blue-dark-1);
}
.btnReadMore {
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
  }
}
.btnReadMoreRoot {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: none;
  padding: 5px 16px 5px 14px;
  white-space: nowrap;
  color: var(--eerie-black-20);
  background: var(--eerie-black-20);
}
.btndisabled {
  cursor: not-allowed;
}
.footerSelected {
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 16px 19px;
    margin-top: 50px;
    align-items: center;
    position: sticky;
    bottom: 0;
    div {
      display: grid;
      span {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.015em;
        color: var(--cimigo-green-dark-2);
      }
      a {
        display: flex;
        align-items: center;
      }
    }
  }
}
.btnMobile {
  white-space: nowrap;
}


