.table-head {
  background-color: var(--blue-500);
  color: #fff;

  .table-cell {
    min-width: 180px;
    color: #fff !important;
  }

  .table-cell.small-heading {
    min-width: 60px !important;
    max-width: 60px !important;
  }

  .table-cell.large-heading {
    min-width: 250px !important;
    max-width: 250px !important;
  }
}

.col-table-body.cell-limit-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 250px;
  font-size: 16px;
  color: #333;

  transition: all 0.3s ease;
}

.col-table-body.cell-limit-text:hover {
  white-space: normal;
  overflow: visible;
}

.col-table-body.active {
  color: #00ba00 !important;
}

.col-table-body.inactive {
  color: var(--blue-500) !important;
}

.cell-actions {
  width: 180px;
}

.noList {
  text-align: center;
}
