.ward-dashboard-container {
  background-color: #fff;
  background-color: var(--blue-50);
}

.container-body {
  background-color: #fff;
  border-radius: 8px;
  margin:  -24px -24px 0 -24px;
  height: 100svh;
  width: 100svw;
}
