.paper {
    width: 576px;
    max-width: 576px;
    @media only screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
        margin: 0px 8px !important;
        overflow: hidden;
    }
}

.list {
    margin-top: 32px;
    color: var(--gray-80);
    list-style-position: inside;
    padding-left: 8px;
}
