
.rootContent{
  flex: unset;
  padding: 0;
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
}
.root {
  max-width: 1048px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 96px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 85px;
  }
}
.titleDanger {
  span {
    color: var(--cimigo-danger);
  }
}
.content{
  margin-top: 24px;
  border: solid 1px var(--gray-40);
  border-radius: 15px;
  width: 100%;
  padding: 24px 24px 24px 24px;
  @media only screen and (max-width: 899px) {
    border: none;
    padding: 0;
  }
}
.btn{
  display: flex; 
  justify-content: right;
  p{
    padding-left: 41.5px;
    padding-right: 41.5px;
  }
}
.disBtn{
  padding-top: 8px;
  float: right;
}
.leftContent{
  .solution{
    display: flex;
    padding-bottom: 36px;
    @media only screen and (max-width: 899px) {
      border-bottom: 1px solid var(--gray-20);
      padding-bottom: 16px;
      justify-content: space-between;
    }
    .solutionItem{
      display: flex;
      @media only screen and (max-width: 767px) {
        padding-left: 50px;
      }
      .solutionTitle {
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    } 
    img{
      width: 24px;
      height: 24px;
    }
  }
  .contentSampleAndTarget{
    .sampleTarget{
      display: flex;
      align-items: center;
      button{
        margin-left: 24px;
      }
      @media only screen and (max-width: 899px) {
        justify-content: space-between;
      }
    }
    .contentSampleTarget{
      margin-left: 8px;
      border-left: 1px dashed var(--gray-20);
    }
    @media only screen and (max-width: 899px) {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--gray-20);
    }
  }
  
  .delivery{
    padding-bottom: 36px;
    display: flex;
    @media only screen and (max-width: 899px) {
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--gray-20);
    }
  }

  .leftContentItemTitle {
    @media only screen and (min-width: 900px) {
      width: 45%;
    }
  }
  .leftContentItemDescription {
    @media only screen and (min-width: 900px) {
      width: 55%;
      padding-right: 8px;
    }
  }
}
.rightContent{
  .survey{
    display: flex;
    align-items: center;
    @media only screen and (max-width: 899px) { 
      justify-content: space-between;
    }
  }
  button{
    margin-left: 24px;
  }
  .rightContent2{
    border-left: 1px dashed var(--gray-20);
    margin-left: 8px;
    margin-top: 16px;
    .numberOfItem {
      span {
        font-weight: 600;
      }
    }
  }
  .mainBrandItem {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  @media only screen and (max-width: 899px) { 
    padding-top: 16px;
  }
}
.customBtnContentPayment{
  .titleBtn{
    color: var(--cimigo-blue-dark-2);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--cimigo-blue-dark-2);
  }
  background: var(--cultured-gray);
  height: 29px;
}
.customGridItem{
  padding-top: 0px !important;
}

.dangerText {
  color: var(--red-error) !important;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}