.paper {
  min-width: 540px;
  @media only screen and (max-width: 767px) {
    min-width: unset;
  }
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  color: #08182a;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17497f;
  padding: 12px 24px;
  p {
    font-weight: 600;
    font-size: 22px;
    color: #fafaff;
  }
  button {
    background-color: #ffffff !important;
  }
}
.body {
  padding: 24px;
}
.body > p {
  font-weight: 400;
  font-size: 14px;
  color: #1c1c1c;
  margin: 0;
}
.spacing {
  margin-top: 24px;
  display: flex;
}
.textTitle {
  font-weight: 600;
  font-size: 16px;
  color: #1c1c1c;
  margin: 0;
  margin-bottom: 10px;
}
.textInfo {
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0px 10px;
    border-radius: 100%;
  }
  span {
    font-weight: 700;
  }
}
.input {
  display: flex;
  margin-top: 36px;
  div:first-child {
    margin-right: 5px;
  }
  div:last-child {
    margin-left: 5px;
  }
}
.flex {
  margin-top: 50px;
}
.flex > p {
  font-weight: 600;
  font-size: 16px;
  color: #1c1c1c;
  margin: 0;
  margin-bottom: 5px;
}
.flex > span {
  font-weight: normal;
  font-size: 14px;
  color: rgba(28, 28, 28, 0.65);
}
.flex > div {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: flex-start;
}
.flex > div > div {
  margin-right: 15px;
  width: 29%;
}
.btn {
  margin: 24px;
  display: flex;
  margin-left: auto;
}
