.form {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
}
.root {
    display: flex;
    margin-top: 16px;
    padding: 0 24px 24px 24px;
    flex: 1;
    min-height: 0;
    overflow: auto;
    @media only screen and (max-width: 767px) {
        display: block;
    }
}

.containerInformation {
    .subInformation {
        margin-top: 8px;
    }
    @media only screen and (max-width: 767px) {
        max-width: 100%;
        padding-right: 0;
        .subInformation {
            margin-top: 0;
        }
    }
}
.draggableBox {
    @media only screen and (max-width: 767px) {
        margin-bottom: 24px;
    }
}
.rowScenesControl {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    .boxTime {
        display: flex;
        @media only screen and (max-width: 767px) {
            max-width: 100%;
            justify-content: space-between;
        } 
    }
    @media only screen and (max-width: 767px) {
        margin-top: 12px;
        flex-direction: column-reverse;
    }
}
.containerInputScenes {
    @media only screen and (max-width: 767px) {
        flex-direction: column;
    } 
}
.boxSubTitle {
    .boxTitleStart{
        padding-left: 65px;
    }
    .boxTitleEnd {
        padding-left: 45px;
    }
    @media only screen and (max-width: 767px) {
        display: none;
    } 
}

.closeInputAttribute {
    cursor: pointer;
    padding: 0 40px 9px 40px; 
    @media only screen and (max-width: 767px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 12px;
    } 
}

.textContent {
    @media only screen and (max-width: 767px) {
        max-width: 100%;
    } 
}
.textNumberScenes {
    display: none;
    @media only screen and (max-width: 767px) {
        display: block;
    } 
}
.textTo {
    display: none;
    @media only screen and (max-width: 767px) {
        display: block;
        padding-left: 24px;
    }
}
.boxVideo {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    min-width: 0;
    min-height: 0;
    height: 100%;
    @media only screen and (max-width: 767px) {
        display: none;
    }
    .iframeVideo {
        border-radius: 4px;
        // margin-right: 24px;
    }
}

.addList {
    margin-top: 16px;
    display: flex;
    align-items: center;
    .addOptions {
        display: flex;
        cursor: pointer;
    }
    .IconListAdd {
        color: var(--eerie-black-65);
        margin-right: 16px;
    }
}

.textItem {
    display: flex !important;
    gap: 8px;
    margin-bottom: 8px;
    width: 100%;
    align-items: flex-start;
    svg{
        margin-top: 4px;
    }
    .textMessage {
        display: -webkit-box;
        overflow: hidden;
        word-break: break-word;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.boxInformationVideo {
    max-width: 300px;
    margin-top: 16px;
}
.boxAction {
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #D2D2D2;
    padding-right: 16px;
    padding-bottom: 24px;
    background-color: #fff;
    .btnSave {
        margin-left: 16px;
    }
    @media only screen and (max-width: 767px) {
        flex-direction: column-reverse;
        padding-left: 16px;
        .btnSave {
            margin-left: 0;
            margin-bottom: 16px;
            width: 100%;
        }
    }
}