.titleDisabled {
  color: var(--gray-40) !important;
}

.titleSubDisabled {
  color: var(--gray-60) !important;
}

.packItem {
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
  .packItemBox {
    max-width: unset;
    border-radius: 12px;
    width: 315px;
    display: flex;
    border: 1px solid var(--gray-10);
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    .packItemImgBox {
      display: flex;
      img {
        height: 84px;
        object-fit: cover;
        width: 108px;
        border-radius: 12px 0 0 12px;
      }
    }
    .packItemRightBox {
      flex: 1;
      min-width: 0;
      min-height: 0;
      overflow: hidden;
      padding: 4px 8px;
      .packItemChipPackType {
        background: transparent;
        height: auto;
        [class~="MuiChip-label"] {
          padding: 0px;
        }
      }
    }
  }
}
