.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 124px;
  max-width: 240px;
}

.lineWrapper {
  display: flex;
  align-items: center;
  height: 24px;
  margin: 10px 0;
}

.line {
  width: 110px;
  height: 2px;
  background-color: var(--gray-40);
  @media only screen and (max-width: 1199px) {
    width: 100px;
  }
  @media only screen and (max-width: 991px) {
    width: 70px;
  }
  @media only screen and (max-width: 767px) {
    width: 60px;
  }
}

.deliveredLine {
  background: var(--cimigo-blue);
}
.inProgressLine {
  background: linear-gradient(to left, var(--warning-dark) 75%, var(--warning-dark) 100%);
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--gray-40);
}
.circleInProgress {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px dashed var(--warning-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  .circle {
    width: 16.5px;
    height: 16.5px;
    background-color: var(--warning-dark);
    border: unset;
  }
}
.circleDelivered {
  background-color: var(--cimigo-blue);
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
