.content {
    margin-top: 16px;
    display: flex;
    gap: 24px;

    .tabTypePriceTest {
        text-transform: none;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        border-radius: 4px;
        border: 1px solid var(--gray-20);
        background: var(--pure-white, #FFF);
        min-width: 144px;
        padding: 16px 24px 8px 24px;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 4px 12px 0px rgba(31, 97, 169, 0.20);
            border: 1px solid var(--cimigo-blue-light-3);
            background: rgba(232, 241, 251, 0.60);
        }
        &.tabActive {
            border: 1px solid var(--cimigo-blue-light-1, #3B87DB);
            background: var(--cimigo-blue-light-4, #E8F1FB);
        }
    }
}