.paper {
    width: 576px;
    max-width: 576px;
    @media only screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
        margin: 0 !important;
        overflow: hidden;
    }

}

.title {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    color: #08182a;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    p {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.03em;
        color: rgba(28, 28, 28, 0.65);
        svg {
            font-size: 32px;
            margin-right: 15px;
            color: #F2BB2E;
        }
    }
        button {
        background-color: rgba(28, 28, 28, 0.05) !important;
    }

}

.body {
    border: none !important;
    padding: 0 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(28, 28, 28, 0.65);
    p:last-child {
        margin-top:21px;
    }

}

.btnBox {
    padding: 32px 24px 24px 0px;
    button:first-child {
        background: #E8F1FB;
        color: #1F61A9;
    }
}
