
.desktopTable {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.mobileTable {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.itemBrandMobile {
  background: var(--cultured-gray);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 24px;
  &:not(:first-child) {
    margin-top: 16px;
  }
}
.btnDeleteRow {
  margin-left: 16px;
}
