.root {
  padding: 0px;
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1240px !important;
  padding-left: 64px;
  padding-right: 64px;
  min-height: 800px;
  @media only screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media only screen and (max-width: 767px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.rootStepper {
  padding: 32px 0;
  width: 624px;
  margin: auto;
  min-width: 624px;
  @media only screen and (max-width: 767px) {
    min-width: 340px;
    width: auto;
    padding: 30px 0px 30px 0px;
  }
}
.rootStepLabel {
  font-weight: 400;
  font-size: 16px;
  color: var(--eerie-black-40);
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
}
.rootStepLabelCompleted {
  color: var(--cimigo-green-dark-2) !important;
  font-weight: 600 !important;
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 500;
  }
}
.rootStepLabelActive {
  color: var(--cimigo-green-dark-2) !important;
  font-weight: 600 !important;
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 500;
  }
}
.rootConnector {
  top: 16px !important;
  margin: 0px 7px !important;
}
.activeConnector {
  span {
    border-color: var(--cimigo-green-dark);
  }
}
.linkTextHome {
  display: none;
  span{
    color: var(--cimigo-blue);
  }
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    margin: 20px 19px 0px 19px;

    .icHome {
      width: 6px;
      margin-right: 15px;
      color: var(--gray-80);

      &:first-child {
        cursor: pointer;
        width: 24px;
        color: var(--gray-80);
      }
    }
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.015em;
      color: var(--cimigo-green-dark-2);
    }
  }
}
.btndisabled {
  cursor: not-allowed;
}
.footerSelected {
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 16px 19px;
    margin-top: 50px;
    align-items: center;
    position: sticky;
    bottom: 0;
    div {
      display: grid;
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.025em;
        color: var(--eerie-black);
        margin-bottom: 4px;
      }
      span {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.015em;
        color: var(--cimigo-green-dark-2);
      }
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: var(--red-error);
      }
    }
  }
}
.btnMobile {
  white-space: nowrap;
}


