.info-container {
  display: flex;
}

.info-item {
  width: calc(50% - 15px);
  margin-right: 30px;
  img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
  }

  .inline-typo {
    .title {
      font-weight: 700;
    }
  }
}

.map-item {
  width: 100%;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.planning-text.active {
  color: #00ba00 !important;
}

.planning-text.inactive {
  color: var(--blue-500) !important;
}

span {
  font-family: Inter, sans-serif;
}

.title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600 !important;
}
