.paper {
    width: 960px;
    max-width: 960px;
    @media only screen and (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      margin: 0 !important;
      overflow: hidden;
    }
  }

.iconContainer {
    display: flex;
    .iconAction:first-child {
        margin-right: 8px;
    }
}

.iconAction {
    width: 36px;
    height: 36px;
    display: flex;
    cursor: pointer;
    justify-content:center;
    align-items:center;
    background: var(--cimigo-blue);
    color: var(--ghost-white);
    border-radius: 50%;
}
.memu {
  [class~="MuiPaper-root"] {
    border: 1px solid var(--gray-6);
    margin-top: 8px;
  }
}
.contentText {
  font-weight: 500;
}