.boxContainer {
  display: flex;
  align-items: center;
}

.boxContent {
  background-color: white;
}

.backPage {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: var(--blue-500);
  cursor: pointer;

  &:hover {
    color: var(--blue-600);

    .iconBack {
      color: var(--blue-600);
    }
  }
}

.iconBack {
  color: var(--blue-500);
}

.boxContent {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;

  .boxContentDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .boxTitle {
      padding: 10px 0;
    }
  }
}
.image {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}
.imageInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .infoContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .infoContent {
    span {
      color: black;
    }
  }
  .infoTable,
  .infoCompany {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.editHistoryContainer {
  display: flex;
  justify-content: end;
  gap: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); // Add this line
}

.actionButtons {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  padding-right: 35px;
}

.approveButton {
  width: 100px;
}

.skipButton {
  width: 100px;
}
