.detailGroup {
  margin: 20px;
}

.map-item {
  width: 100%;
  height: 600px;
  border: 1px solid var(--gray-30);
}
.backPage {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: var(--blue-500);
  cursor: pointer;

  &:hover {
    color: var(--blue-600);

    .iconBack {
      color: var(--blue-600);
    }
  }
}

.iconBack {
  color: var(--blue-500);
}
