.paper {
  width: 960px;
  max-width: 960px;
  border-radius: 8px;
  [class~=MuiStepLabel-iconContainer ] {
    margin-right: 0!important;
  }
  [class~=MuiStepLabel-root] {
    cursor: default !important;
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0px 8px !important;
    overflow: hidden;
  }
}
.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0!important;
}
.form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rootStepper {
  padding-bottom: 24px;
}

.rootStepperShadow {
  background-color: #fff;
  z-index: 10;
  padding-top: 24px;
  padding-bottom: 16px;
  box-shadow: 0px 3px 8px rgba(28, 28, 28, 0.12);
}
.rootConnector {
  margin: 0px 40px !important;
  @media only screen and (max-width: 767px) {
    margin: 0px 20px!important;
  }
}
.activeConnector {
  span {
    border-color: var(--cimigo-green-dark);
  }
}
.rootStepIconActive {
    color: var(--cimigo-green-dark-2) !important;
}

.rootStepLabel {
    font-weight: 400;
    font-size: 16px;
    color: var(--eerie-black-40);
    margin-top: 8px !important;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
  .rootStepLabelCompleted {
    color: var(--cimigo-green-dark-2) !important;
    font-weight: 600 !important;
    font-size: 16px;
    margin-top: 8px !important;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .rootStepLabelActive {
    color: var(--cimigo-green-dark-2) !important;
    font-weight: 600 !important;
    font-size: 16px;
    margin-top: 8px !important;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
      font-weight: 500;
    }
  }