.competitiveBrandTitle,
.brandEquity {
  display: flex;
  align-items: center;
}
.helpIcon {
  display: flex;
  align-items: center;
}
.tooltipPopper {
  [class~=MuiTooltip-tooltip] {
    min-width: 400px !important;
    background-color: #FFFFFF;
    border: 1px solid #A7AFB2;
    padding: 16px;
    color: var(--gray-02);
  }
  [class~=MuiTooltip-arrow] {
    color: #FFFFFF;
    &::before {
      border: 1px solid #A7AFB2;
    }
  }
}
.tooltipContent {
  span {
    font-weight: 600;
  }
}
.warningWrapper {
  min-height: 56px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  border-radius: 4px;
  border-left: 4px solid var(--warning-dark);
  padding: 8px 16px;
  margin-left: 24px;
  margin-bottom: 24px;
  width: fit-content;
}
.warning {
  margin-left: 8px;
  span {
    margin-left: 16px;
    color: var(--cimigo-blue);
    &:hover {
      cursor: pointer;
    }
  }
}
.note {
  border-left: 2px solid var(--gray-20);
  margin: 24px 0 24px 24px;
  padding-left: 16px;
  span {
    font-weight: 600;
  }
}

.brandEquitySubTitle {
  span {
    text-decoration: underline;
    color: var(--cimigo-blue);
    &:hover {
      cursor: pointer;
    }
  }
}
.btnAddBrand {
  margin-left: 24px;
}

.competingBrandListWrapper {
  display: flex;
  gap: 16px;
  margin-left: 24px;
  flex-flow: wrap;
}
.rootChip {
  background: var(--cimigo-blue-light-4);
  font-weight: 500;
  font-size: 14px;
  color: var(--cimigo-blue);
  border-radius: 8px;
  height: fit-content;
  span {
    line-height: 24px;
    padding: 6px 8px 6px 12px;
  }
  div {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0 !important;
    svg {
      color: var(--cimigo-blue) !important;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
.selectBrandBtn {
  border-radius: 8px;
  background-color: var(--white);
  border: 1px solid var(--gray-30);
}
.menuChooseBrand {
  margin-top: 6px;
  max-height: 224px;
  overflow: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    display: none;
  }
}

.disabled {
  cursor: not-allowed !important;
}
.menuItemFlex {
  display: flex;
  align-items: center;
}
.rootMenuCheckbox {
  padding: 0 16px 0 0;
}
.menuChooseBrandAction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
  padding: 16px 16px 8px;
}

.rootList {
  margin-left: 24px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.notDisplayed {
  display: none;
}
.rootListItem {
  border-bottom: 1px solid #dddddd;
  .btnAction {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    visibility: hidden;
    .iconAction {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      &:hover {
        background-color: var(--gray-10) !important;
      }
    }
  }
  .iconEditSquareWrapper {
    margin-right: 9px;
    width: 16px;
    display: flex;
    align-items: center;
  }
  &:hover {
    background: rgba(28, 28, 28, 0.05);
    cursor: default;
    .btnAction {
      visibility: visible !important;
    }
  }
}
.listItem {
  display: block;
  padding: 7px calc(70px + 16px + 8px) 7px 16px;
  min-height: 40px;
  &:hover {
    background: transparent;
    cursor: default;
  }
  .listTextLeft {
    flex: 1;
    [class~="MuiTypography-root"] {
      text-align: end;
      word-break: normal;
      overflow-wrap: anywhere;
    }
  }
  .listTextRight {
    flex: 1;
    [class~="MuiTypography-root"] {
      text-align: start;
      word-break: normal;
      overflow-wrap: anywhere;
    }
  }
  .listNumber {
    margin: auto 16px;
    div {
      display: flex;
      min-width: 200px;
      justify-content: space-between;
      border-radius: 4px;
      border: 1px solid #dddddd;
      span {
        width: 24px;
        height: 24px;
        max-width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 12px;
        color: rgba(28, 28, 28, 0.65);
      }
      span:not(:last-child) {
        border-right: 1px solid #dddddd;
      }
    }
  }
}
.itemAddAttribute {
  font-size: 14px !important;
}
.rootListMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    margin-left: 24px;
    display: block;
  }
  .itemListMobile {
    position: relative;
    box-shadow: none;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    &:first-child {
      border-top: 1px solid #dddddd;
    }
    &::before {
      display: none;
    }
    .listMobileText {
      span {
        font-weight: 600;
      }
    }
    [class~="MuiAccordionSummary-root"] {
      padding: 16px 16px 16px 20px;
      [class~="MuiAccordionSummary-content"] {
        margin: 0;
        overflow: hidden;
        > * {
          overflow: hidden;
          width: 100%;
        }
        .listMobileTitle {
          padding-right: 32px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .listMobileContent {
          display: none;
          padding-right: 32px;
          padding-bottom: 16px;
        }
        .listMobileAction {
          display: none;
          align-items: center;
          justify-content: flex-end;
          .listMobileActionDelete {
            &:not(:first-child) {
              margin-left: 8px;
            }
            p {
              color: var(--red-error) !important;
            }
          }
        }
      }
      [class~="MuiAccordionSummary-expandIconWrapper"] {
        position: absolute;
        top: 16px;
        right: 16px;
        > svg {
          font-size: 24px;
          color: var(--eerie-black-40);
        }
      }
    }
    &[class~="Mui-expanded"] {
      margin: 0px;
      background: #EEEEEE;
      [class~="MuiAccordionSummary-root"] {
        min-height: 0;
        padding: 16px 16px 0px 20px;
        .listMobileTitle {
          display: none;
        }
        .listMobileContent {
          display: block;
        }
        .listMobileAction {
          display: flex;
        }
      }
    }
  }
}
