
.iconOption {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    object-fit: contain;
}
.iconValue {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    object-fit: contain;
}

.iconPrefix {
    font-size: 20px;
    margin-right: 8px;
    object-fit: contain;
}
