.rootConnector {
    top: 50%;
    width: 16px;
    left: -8px;
    transform: translateY(-50%);
}
.priceStep {
    flex: unset;
}
.priceStepper {
    flex-wrap: wrap;
    gap: 32px 0;
}
.estimatePriceTag {
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    left: 50%;
}
.headLabel,
.tailLabel {
    position: absolute;
    bottom: -30px;
    color: var(--gray-80);
}
.tailLabel {
    right: 8px;
}
.hiddenMobile{
    @media only screen and (max-width: 767px) {
        display: none;
    }
  }
.estimatePriceTag{
    font-weight: 600;
}