.boxContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tableContainer {
  border-radius: 8px;
  margin-top: 20px;
}

.sizeTable {
  max-height: 50px;
}

.headerTable {
  font-weight: bold;
  padding: 5px;
  color: #fff !important;
}

.rowTable {
  &:last-child,
  &:last-child th {
    border: 0;
  }
}

.dataTable {
  padding-top: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dataIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagination {
  width: 100%;
  background-color: white;
}

.table-head {
  background-color: var(--blue-500);
}
