.root {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;
  padding: 6px 16px;
  border-radius: 40px;
  min-width: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.08em;
}
.green {
  color: #293306;
  background: #d9f180;
}
.blue {
  color: #103055;
  background: #bed7f3;
}
.brown {
  color: #5e3507;
  background: #e7daca;
}
