//==================================card============================//
.body {
  padding-bottom: 300px !important;
  margin-top: 0 !important;

  @media only screen and (max-width: 897px) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 43px;
  }
  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.card {
  min-width: 300px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 32px;
  }
  &:first-child:not(.cardPopular) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  &:last-child.cardPopular {
    margin-top: 40 !important;
  }
}
.cardPopular {
  @media only screen and (min-width: 897px) {
    &:not(.card:nth-child(2)) {
      margin-top: -40px;
    }
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 897px) {
    &:first-child {
      padding-top: 0;
    }
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 43px;
  }
}

.layoutCard {
  height: 100%;
}
.itemCenter {
  justify-content: center;
  padding: 0;
  padding-bottom: 24px;
  button {
    width: 100%;
    min-height: 48px;
    min-width: 184px;
  }
}
.cardPlan {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid var(--gray-20);
  @media only screen and (max-width: 367px) {
    width: auto;
  }
  .tax {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 24px;
  }
  .line {
    content: " ";
    border-bottom: 1px solid;
    color: var(--gray-20);
  }
  .startAt {
    padding-top: 16px;
  }
}

.contentInPlan {
  > p {
    padding-top: 16px !important;
  }
}
.headerCart {
  background: #a6cc17;
  border: 1px solid var(--gray-20);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  min-width: 300px;
  .title {
    text-align: center;
    padding: 8px;
    padding-left: 12px;
  }
}
.layoutCardPopular {
  height: 100%;
  .cardPlan {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid var(--gray-20);
    @media only screen and (max-width: 367px) {
      width: auto;
    }
    .line {
      content: " ";
      border-bottom: 1px solid;
      color: var(--gray-20);
    }
  }
}

.contentInPlan {
  padding-top: 16px;
}
.contentPlan {
  display: flex;
  padding: 8px 0px;
}
.iconContentPlan {
  color: var(--cimigo-blue);
}
.contentPlanDescription {
  word-break: break-word;
}
//==================================endcard============================//
.customSelect {
  div {
    border: none;
  }
  div :hover {
    border: none;
  }
}
.cardCustom {
  flex: 1;
  padding: 24px;
}
.cardPlan:first {
  margin-bottom: 24px;
}
.selectOption:hover {
  color: blue;
}
.sampleSize {
  font-weight: 600;
}

.expTime {
  position: relative;
  transform: translate(6px, -8px);
  white-space: nowrap;
}
