.paper {
    width: 552px;
    @media only screen and (max-width: 500px) {
        margin: 0;
    }
}

.checkboxWrapper {
    justify-content: flex-start;
    border-top: 1px solid var(--gray-20);
    padding: 24px;
}

.dialogTitle {
    border-bottom: 1px solid var(--gray-20);
    padding: 20px 24px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.avatarEmpty {
    width: 56px;
    height: 56px;
    object-fit: contain;
}

.userWrapper { //delete
    height: 80px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 500px) {
        height: fit-content;
        margin: 6px 0;
    }
}

.userImageWrapper {
    width: 56px;
    height: 56px;
    margin-right: 8px;
    border-radius: 50%;
    @media only screen and (max-width: 500px) {
        width: 24px;
        height: 24px;
    }
}

.userFakeAvatar {
    border: 1px dashed var(--gray-40);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.userFakeImage {
    background-color: rgba(28, 28, 28, 0.05);
    border-radius: 50%;
}

.updateRole {
    color: var(--gray-90);
    cursor: pointer;
    height: fit-content;
    padding: 4px 4px 4px 12px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        color: var(--gray-80);
        path {
            width: 9px;
            height: 4px;
        }
    }
    border-radius: 8px;
}

.updateRole:hover {
    background: var(--gray-5);
}

.checkIcon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    svg {
        width: 100%;
        height: 100%;
        display: block;
        color: var(--gray-80);
    }
}

.actionMenu {
    min-width: 208px;
}

.actionRoot {
    button {
        padding: 0;
    }
}

.checkboxEditor {
    [class~="MuiTypography-root"] {
        font-size: 14px;
        color: var(--gray-90);
    }
}

.inputSelect {
    * {
        border: none !important;
    }
    min-width: 141px;
}

.tagInputContainer {
    display: flex;
    flex: 1;
    border: 1px solid var(--gray-40);
    padding: 8px 0px 8px 16px;
    border-radius: 4px;
    align-items: center;
    width: 373px;
    margin-right: 8px;
    @media only screen and (max-width: 500px) {
        width: 100%;
        margin: 0 0 8px 0;
    }
}

.inputTag {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--gray-50);
    fieldset {
        border: none !important;
    }
}

.sendInviteBtn {
    padding: 12px 21.5px;
    height: 48px;
    p {
        white-space: nowrap;
    }
    @media only screen and (max-width: 500px) {
        width: 100%;
    }
}

.emailsShareContainer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    @media only screen and (max-width: 500px) {
        flex-direction: column;
    }
}

.userInfo {
    @media only screen and (max-width: 500px) {
        max-width: calc(100% - 33px);
    }
    div {
        max-width: calc(100% - 96.2px);
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}