.container {
    width: 100%;
    display: flex;
}

.chip {
    border-radius: 8px;
    background: var(--gray-5);
    span {
        white-space: pre;
    }
    svg {
        width: 20px;
        height: 20px;
        color: var(--gray-60) !important;
        &:hover {
            color: var(--gray-90) !important;
        }
    }
}

.chipErr {
    border: 1px dashed var(--red-error);
}

.inputTextfield {
    outline: none !important;
    ::placeholder {
        color: var(--gray-50);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        opacity: 1;
    }
    input {
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 24px;
        letter-spacing: 0.015em;
        color: var(--eerie-black);
    }
    fieldset {
        border-width: 1px !important;
    }
    [class~="MuiOutlinedInput-root"] {
        padding: 0 !important;
        input {
            width: 100% !important;
            min-width: unset !important;
        }
    }
}

.clearIndicator {
    display: none;
}

.autoComplete {
    padding: 0;
}
