.boxContainer {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableHeading {
  background-color: var(--blue-500);
}

.sizeTable {
  max-width: 1000px;
  border: 1px solid #e0e0e0;
}

.headerTable {
  font-weight: bold;
  padding: 5px;
  color: white !important;
}

.rowTable {
  &:last-child,
  &:last-child th {
    border: 0;
  }
}

.dataTable {
  padding: 5px;
  width: 20%;
}
.pagination {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
