.root {
  background: #f8e8bf;
  border-radius: 30px;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    color: #9E5400;
    font-size: 16px;
  }
}
.lockIconContent {
  span {
    font-weight: 500;
    font-style: italic;
  }
}