.footerWidget1 {
  background-color: var(--cimigo-green);
  padding: 0.625rem 0;
}
.containerWidget1.containerWidget1 {
  display: flex;
  justify-content: space-between;
  padding-left: 64px;
  padding-right: 64px;
  @media only screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media only screen and (max-width: 767px) {
    padding-left: 19px;
    padding-right: 19px;
  }
}
.emailContact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  @media only screen and (max-width: 480px) {
    font-size: 14px;
    font-weight: 500;
  }
}
.linkSocial {
  display: flex;
  align-items: center;
}
.socialContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.socialContactIcon {
  display: flex;
  color: #fff;
  margin: 0 0.315rem;
  img {
    width: 100%;
  }
}
.footerWidget2 {
  background-color: #1f61a9;
  padding: 0;
}
.containerWidget2.containerWidget2 {
  display: flex;
  flex-direction: row;
  padding-left: 64px;
  padding-right: 64px;
  @media only screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media only screen and (max-width: 767px) {
    flex-direction: column !important;
    align-items: center;
    padding-left: 19px;
    padding-right: 19px;
  }
}
.leftContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  @media only screen and (max-width: 767px) {
    flex-direction: column !important;
    width: 100%;
  }
}
.rightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding: 1.875rem 0 1.875rem 1.875rem;
  @media only screen and (max-width: 1024px) {
    padding-left: 5rem !important;
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
    justify-content: center !important;
    margin: 3rem 0 !important;
    padding: 0 !important;
  }
}
.mapController {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @media only screen and (max-width: 767px) {
    width: 100%;
    justify-content: center;
  }
}
.iframcustom {
  border: 0;
  width: 100%;
  max-height: 14.6875rem;
  @media only screen and (max-width: 767px) {
    max-height: 20rem;
  }
}
.aboutWidget {
  width: 50%;
  margin-top: 1rem;
  margin-right: 4rem;
  @media only screen and (max-width: 767px) {
    display: none !important;
  }
}
.header {
  position: relative;
  padding: 0.625rem 0;
  &:before {
    content: "";
    display: block;
    width: 3.125rem;
    height: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: 0;
    background-color: #fff;
  }
}
.textDescription {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  margin: 0;
}
.body {
  margin-top: 1rem;
}
.textLink {
  margin-top: 1rem;
  transition: all 0.2s ease-in;
  display: block;
  color: #fff;
  text-decoration: none;
  &:hover {
    color: var(--cimigo-green);
  }
}
.contactWidget {
  width: 50%;
  margin-top: 1rem;
  @media only screen and (max-width: 767px) {
    display: none !important;
  }
}
.aboutWidgetMobile {
  display: none;
  margin-top: 18px;
  @media only screen and (max-width: 767px) {
    display: block !important;
    width: 100%;
    margin-top: 1rem;
  }
}
.contactWidgetMobile {
  display: none;
  margin-top: 30px;
  @media only screen and (max-width: 767px) {
    display: block !important;
    width: 100%;
    margin-top: 1rem;
  }
}
.containerWidget3.containerWidget3 {
  padding: 1rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.textCopyRight {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  @media only screen and (max-width: 767px) {
    color: #000 !important;
  }
}
.textPrivacy {
  color: rgba(0, 0, 0, 0.5);
}
.headerMobile {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  position: relative;
  padding: 0.625rem 0;
  &:before {
    content: "";
    display: block;
    width: 3.125rem;
    height: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: 0;
    background-color: #fff;
  }
}
.textDescriptionMobile {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
}
.bodyMobile {
  max-height: 0px;
  margin-top: 1rem;
  overflow: hidden;
  transition: all 0.4s ease-out;
}
.bodyActive {
  max-height: 500px;
  transition: all 0.4s ease-in;
}
.textLinkMobile {
  margin-top: 1rem;
  transition: all 0.2s ease-in;
  color: #fff;
  display: block;
}
.iconOpen {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 9px solid #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(0deg) translate3d(0px, -50%, 0px);
  transition: all 0.4s ease-in;
}
