.subtitleLink {
  color: #1f61a9;
  border-bottom: 1px dashed #1f61a9;
  cursor: pointer;
  &:hover {
    color: #1f62a98f;
  }
}

.rootList {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.notDisplayed {
  display: none;
}
.rootListItem {
  border-bottom: 1px solid #dddddd;
  .btnAction {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    visibility: hidden;
    .iconAction {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      &:hover {
        background-color: var(--gray-10) !important;
      }
    }
  }
  .iconEditSquareWrapper {
    margin-right: 9px;
    width: 16px;
    display: flex;
    align-items: center;
  }
  &:hover {
    background: rgba(28, 28, 28, 0.05);
    cursor: default;
    .btnAction {
      visibility: visible !important;
    }
  }
}
.listItem {
  display: block;
  padding: 7px calc(70px + 16px + 8px) 7px 16px;
  min-height: 40px;
  &:hover {
    background: transparent;
    cursor: default;
  }
  .listTextLeft {
    flex: 1;
    [class~="MuiTypography-root"] {
      text-align: end;
      word-break: normal;
      overflow-wrap: anywhere;
    }
  }
  .listTextRight {
    flex: 1;
    [class~="MuiTypography-root"] {
      text-align: start;
      word-break: normal;
      overflow-wrap: anywhere;
    }
  }
  .listNumber {
    margin: auto 16px;
    div {
      display: flex;
      min-width: 200px;
      justify-content: space-between;
      border-radius: 4px;
      border: 1px solid #dddddd;
      span {
        width: 24px;
        height: 24px;
        max-width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 12px;
        color: rgba(28, 28, 28, 0.65);
      }
      span:not(:last-child) {
        border-right: 1px solid #dddddd;
      }
    }
  }
}
.itemItemAddAttributeWrapper {
  &:hover {
    svg {
      color: var(--cimigo-blue-light-1);
    }
  }
}
.itemAddAttribute {
  font-size: 14px !important;
}
.rootListMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
  .itemListMobile {
    position: relative;
    box-shadow: none;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    &:first-child {
      border-top: 1px solid #dddddd;
    }
    &::before {
      display: none;
    }
    .listMobileText {
      span {
        font-weight: 600;
      }
    }
    [class~="MuiAccordionSummary-root"] {
      padding: 16px 16px 16px 20px;
      [class~="MuiAccordionSummary-content"] {
        margin: 0;
        overflow: hidden;
        > * {
          overflow: hidden;
          width: 100%;
        }
        .listMobileTitle {
          padding-right: 32px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .listMobileContent {
          display: none;
          padding-right: 32px;
          padding-bottom: 16px;
        }
        .listMobileAction {
          display: none;
          align-items: center;
          justify-content: flex-end;
          .listMobileActionDelete {
            &:not(:first-child) {
              margin-left: 8px;
            }
            p {
              color: var(--red-error) !important;
            }
          }
        }
      }
      [class~="MuiAccordionSummary-expandIconWrapper"] {
        position: absolute;
        top: 16px;
        right: 16px;
        > svg {
          font-size: 24px;
          color: var(--eerie-black-40);
        }
      }
    }
    &[class~="Mui-expanded"] {
      margin: 0px;
      background: #EEEEEE;
      [class~="MuiAccordionSummary-root"] {
        min-height: 0;
        padding: 16px 16px 0px 20px;
        .listMobileTitle {
          display: none;
        }
        .listMobileContent {
          display: block;
        }
        .listMobileAction {
          display: flex;
        }
      }
    }
  }
}
