.titleSelectPlan {
  text-align: center;
  .title{
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 48px !important;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 0px;
  }
}