.iconLanguage {
    color: var(--eerie-black-65);
    background-color: rgba(221, 221, 221, 1);
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    width: 29px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 14.6px;
    text-transform: uppercase;
}
