.customTextField {
  & input {
    height: 10px;
    width: 250px;
  }

  & fieldset {
    border-radius: 40px;
    border-color: var(--blue-500);
  }
  max-width: 400px;
}
.boxContainer {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.boxTabPanel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  gap: 20px;
  background-color: white;
}
