.customTextField {
  flex: 1;
  & input {
    height: 10px;
    width: 100%;
  }

  & fieldset {
    border-radius: 40px;
    border-color: var(--blue-500);
  }
}
.boxContainer {
  background-color: white;
  width: 100%;
}

.boxTabPanel {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 10px;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
  background-color: white;
}
