.root {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 32px;
}

.timelineWrapper {
  display: flex;
  @media only screen and (max-width: 767px) {
    max-width: 520px;
    overflow-x: auto;
  }
  @media only screen and (max-width: 575px) {
    max-width: 350px;
    overflow-x: auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.leftHeadPoint {
  min-width: 2px;
  margin-left: 46px;
  height: 24px;
  margin-top: 34px;
  background-color: var(--gray-40);
}
.rightHeadPoint {
  min-width: 2px;
  margin-right: 46px;
  height: 24px;
  margin-top: 34px;
  background-color: var(--gray-40);
}
.deliveredHeadPoint {
  background-color: var(--cimigo-blue);
}
.inProgressHeadPoint {
  background-color: var(--warning-dark);
}
.leftMidPoint {
  margin-top: 40px;
  margin-right: 8px;
  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &:hover {
    cursor: pointer;
  }
}
.rightMidPoint {
  margin-top: 40px;
  margin-left: 8px;
  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &:hover {
    cursor: pointer;
  }
}
.deliveredPoint {
  div {
    background-color: var(--cimigo-blue);
  }
}
.inProgressPoint {
  div {
    background-color: var(--warning-dark);
  }
}

.descriptionWrapper {
  padding: 24px;
  width: fit-content;
  @media only screen and (min-width: 992px) {
    display: flex;
    gap: 16px;
    border-radius: 4px;
    border: 1px solid var(--gray-20);
  }
}

.imageDescription {
  display: flex;
  justify-content: center;
  min-width: 312px;
  min-height: 185px;
  @media only screen and (max-width: 991px) {
    margin-bottom: 24px;
  }
}

.description {
  max-width: 478px;
}

.descriptionSubTitle {
  span {
    font-weight: 600;
  }
}

.actionWrapper {
  display: flex;
  gap: 24px;
  @media only screen and (max-width: 991px) {
    flex-direction: column;
  }
}

.noSetup {
  margin: auto !important;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 83px 0px;
  max-width: 546px;
  img {
    width: 128px;
    height: 128px;
    object-fit: contain;
    margin-bottom: 48px;
  }
}
