.root {
  
}
.rootTextField {
    div::first-letter  {
      border: 1px solid rgba(28, 28, 28, 0.2);
      border-radius: 4px;
    }
}
.inputTextfield {
  &.placeholder {
    opacity: 1;
    color: rgba(28, 28, 28, 0.4);    
    font-size: 14px;
  }
  padding: 0px 12px;
  height: 32px;
  font-size: 14px;
  font-Weight: 500;
  color: #1C1C1C;
  border-radius: 40px,
}
