.paper {
  max-width: 576px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}

.body {
  border: none !important;
  min-height: 300px;
  margin-bottom: 24px;
}

.rootList {
  padding-top: 24px;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.infoIcon {
  color: var(--eerie-black-40);
  width: 26.67px;
  height: 26.67px;
}

.listFlex {
  display: flex;
  align-items: center;
}
.listTextLeft {
  > p {
    margin: 0;
    text-align: end;
  }
}

.listTextRight {
  > p {
    margin: 0;
    text-align: start;
  }
}
.arrowBreak {
  margin: auto 16px;
  flex: unset;
  display: flex;
}
.rootListItem {
  border: 1px solid #dddddd;
}
.listItem {
  border: 1px solid #dddddd;
  border-top: none;
}
.listItemTitle {
  flex: 1;
}
.selected {
  font-weight: 600;
}

.rootCheckbox {
  padding-left: 16px;
  padding-right: 16px;
}
