.paper {
  max-width: 576px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}

.body {
  min-height: 300px;
  border: none !important;
}

.unfoldWrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-left: 8px;
  gap: 16px;
}
.unfoldItemWrapper {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.lineDivide {
  width: 1px;
  height: 16px;
  background-color: var(--gray-20);
}

.rootList {
  padding-top: 8px;
  flex-direction: column;
}
.listFlex {
  display: flex;
  align-items: center;
}
.listTextLeft > p {
  margin: 0;
  text-align: end;
}
.listTextRight > p {
  margin: 0;
  text-align: start;
}
.arrowBreak {
  margin: auto 16px;
  flex: unset;
  display: flex;
}
.rootListItem {
  border: 1px solid #dddddd;
  cursor: pointer;
  border-top: none;
}
.firstRootListItem {
  border-top: 1px solid #dddddd;
}
.listItem {
  border: 1px solid #dddddd;
  border-top: none;
  &:hover {
    cursor: pointer;
    background: rgba(28, 28, 28, 0.02);
  }
}
.attributeTitle {
  flex: unset;
}
.categorySelected {
  span {
    font-weight: 600;
  }
}
.numberOfAttibute {
  flex: 1;
  div {
    border-radius: 4px;
    span {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }
}
.numberOfSelected {
  padding-right: 16px;
}
.disabled {
  cursor: not-allowed !important;
}
.rootListItem > div {
  &:first-child {
    display: block;
    padding-right: 16px;
  }
}
.rootCheckbox {
  padding-left: 16px;
  padding-right: 16px;
}

.dialogActionsWrapper {
  border-top: 1px solid var(--gray-20);
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    gap: 8px;
  }
}
.btn {
  margin-left: 16px !important;
  @media only screen and (max-width: 767px) {
    margin-left: 0 !important;
    width: 100%;
  }
}
.btnAdd {
  min-width: 132px;
}

.remaining {
  flex: 1;
}

.hideOnMobile {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.hideOnDesktop {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.emptyItemBox {
  border: 1px solid var(--gray-20);
  border-radius: 4px;
  padding: 36px 0;
  text-align: center;
  p {
    width: 100%;
  }
}