.root {
  &:hover {
    background-color: rgba(166, 204, 23, 0.04);
  }
}

.cleanPadding {
  padding: 0;
}

.icon {
  z-index: 1;
  font-size: 20px;
  color: var(--gray-40);
  &[class~="MuiSvgIcon-colorDisabled"] {
    color: var(--gray-20);
  }
  &:hover {
    color: var(--cimigo-green);
  }
  path {
    transform: scale(1.34);
    transform-origin: center;
  }
}

.checkIcon {
  color:#293306;
  background: var(--cimigo-green);
  border-radius: 4px;
  font-size: 20px;
  &[class~="MuiSvgIcon-colorDisabled"] {
    background: var(--eerie-black-40);
  }
}

.blueRoot {
  &:hover {
    background-color: unset;
  }

  & > .icon {
    &:hover {
      color: var(--cimigo-blue);
    }
  }

  & > .checkIcon {
    color: var(--white);
    background: var(--cimigo-blue);
  }
}