$pacing-main: 15px;

.report-handle-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: $pacing-main;
  margin-top: 60px;
  background-color: var(--blue-50);
}

.container-body {
  width: calc(100% - 300px);
  background-color: #fff;
  border-radius: 8px;
  padding: $pacing-main;
}

.title {
  color: rgba(0, 0, 0, 0.6);
}

img {
  border-radius: 8px;
}

.text-active {
  color: #00ba00 !important;
}

.text-inactive {
  color: rgb(241, 35, 35) !important;
}

// Info Report
.location-edit-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: $pacing-main;
  margin-top: 60px;
  background-color: var(--blue-50);
}

.container-body {
  width: calc(100% - 300px);
  background-color: #fff;
  border-radius: 8px;
  padding: $pacing-main;
}

.info-handle-container {
  margin-top: 15px;
}

form {
  margin-top: $pacing-main;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $pacing-main;
}

.input-custom,
.select-custom {
  height: 40px;
  // width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 $pacing-main;
  width: 70% !important;
  outline: none;
}

.error-text {
  color: rgb(246, 22, 22);
}

label {
  font-weight: 800;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .image-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .image-item {
    width: 48%;
    height: 180px;
  }

  .image-item:nth-child(2) {
    display: flex;
    justify-content: flex-end;
  }
}
