.paper {
  width: 550px;
  max-width: 550px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  color: #08182a;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17497f;
  padding: 12px 24px;
  p {
    font-weight: 600;
    font-size: 22px;
    color: #fafaff;
  }
  button {
    background-color: #ffffff !important;
  }
}
.body {
  border: none !important;
  padding: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #1c1c1c;
  > * {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #1c1c1c;
  }
  [class~="ql-editor"] {
    padding: 0px;
    [class~="ql-size-small"] {
      font-size: 12px;
      line-height: unset;
    }
    [class~="ql-size-large"] {
      font-size: 16px;
      line-height: 20px;
    }
    [class~="ql-size-huge"] {
      font-size: 18px;
      line-height: unset;
    }
    ul,
    ol {
      padding: 0;
    }
    ul {
      li::before {
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    overflow: auto;
    max-height: 400px;
    padding: 24px 24px 0px 24px;
  }
  img {
    width: 100%;
  }
}
.btnBox {
  padding: 24px;
  display: flex;
  justify-content: center;
}
