.paper {
  max-width: 480px;
  border-radius: 8px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0px 8px !important;
    overflow: hidden;
  }
}

.form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.footer {
  border-top: 1px solid var(--gray-20);
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .btnSave {
      width: 100%;
      margin-top: 16px;
    }
  }
}

.classForm {
  background-color: white;
  min-height: 100px;
  position: relative;
}

.inputField {
  width: 100%;
  min-height: 42px;
  border-radius: 5px;
  padding-left: 10px;
  input {
    padding: 0px !important;
  }
}

.inputTextarea {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  &::placeholder {
    color: var(--gray-60) !important;
    opacity: 1;
  }
}

.btnSave {
  min-width: 123px;
}

.assetTypeSelect {
  max-width: 276px;
}

.assetContentWrapper {
  margin-left: 24px;
  margin-top: 24px;
  padding: 8px 24px 16px;
  background-color: rgba(28, 95, 167, 0.05);
  border-radius: 4px;
}

.assetContentTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.imgPreview {
  max-height: 56px;
  margin-top: 8px;
}

.btnUploadWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}