.icGoogle {
  border: 1px solid rgba(28, 28, 28, 0.2);
  color: #333;
  padding: 8px 16px;
  text-transform: none;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
  line-height: 24px;
  letter-spacing: 0.25px;
}