$pacing-main: 15px;

.advertise-detail-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: $pacing-main;
  padding-bottom: 0;
  height: 100vh;
  // margin-top: 60px;
  background-color: var(--blue-50);
}

.container-body {
  background-color: #fff;
  border-radius: 8px;
  padding: $pacing-main;
}

.title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600 !important;
}

.image {
  width: 50%;
  height: 350px;
  border-radius: 8px;
}

.boxImg {
  width: 400px;
  height: 300px;
  .imageLarge {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image.smallImage {
  width: 50%;
}

.boxAdsInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
