.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 408px;

  .iconBack {
    display: flex;
    justify-content: right;
  }
}

.boxContainer {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid var(--gray-50);
  background-color: #edf7ed;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}
