$pacing-main: 15px;

.advertise-management-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: $pacing-main;
  // margin-top: 60px;
  height: 100%;
  background-color: var(--blue-50);
}

.search-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.container-body {
  background-color: #fff;
  border-radius: 8px;
  padding: $pacing-main;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pagination-custom {
  margin-top: $pacing-main;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noList {
  text-align: center;
}

.pagination {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.map-item {
  width: 100%;
  height: 600px;
  border-radius: 8px;
}
