.menuItem {
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    .menuItemText {
      font-size: 14px !important;
      margin-left: 12px;
      color: var(--eerie-black-90);
    }
    &:hover {
      .menuItemText {
        color: var(--eerie-black-90) !important;
      }
    }
  }