.paper {
    width: 576px;
    max-width: 576px;
    @media only screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
        margin: 0px 8px !important;
        overflow: hidden;
    }

}
.headerDialog{
    border-bottom: 1px solid var(--gray-40);
}
.itemText {
    span {
        color: var(--warning-dark);
    }
}
.description > span {
  font-weight: 800;
}