
.root {
  border-radius: 4px;
  border: none;
  height: 24px;
}

.current {
  background: var(--cimigo-green-light-2);
  [class~=MuiTypography-root] {
    color: var(--cimigo-green-dark-3);
  }
}

.test {
  background: var(--cimigo-blue-light-3);
  [class~=MuiTypography-root] {
    color: var(--cimigo-blue-dark-2);
  }
}

.competitor {
  background: #E7DACA;
  [class~=MuiTypography-root] {
    color: #5E3507;
  }
}