.paper {
  width: 790px;
  max-width: 790px;
  border-radius: 8px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0px 8px !important;
    overflow: hidden;
  }
}

.form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.classForm {
  background-color: white;
  min-height: 100px;
  position: relative;
}

.titleAdvice {
  margin-bottom: 24px;
}

.addList {
  padding-left: 44px;
  margin-top: 16px;
  @media only screen and (max-width: 500px) {
    padding-left: 0;
  }
}

.addOptions {
  display: flex;
  cursor: pointer;
}

.smileyRatingContainer {
  margin-top:32px;
  .emojiHeader { 
    display: flex;
    align-items: center;     
    p {
        margin-right: 24px;
    }
  }
  @media only screen and (max-width: 500px) {
    margin-top: 24px;
  }
}

.selectBox {
  width: 128px;
  height: 40px;
  @media only screen and (max-width: 500px) {
    margin-left: auto;
  }
}

.emojiContainer {
  display: flex;
  align-items: center;  
  justify-content: center;
  margin-top:0;
  flex-direction: row;
  @media only screen and (max-width: 500px) {
    display: block;
    margin-top: 6px;
  }
}

.emojiContent {
  width: calc(100% / 5);
  padding-top: 16px !important;
  @media only screen and (max-width: 500px) {
    width: 100%;
    padding-top: 0 !important;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
.emojiItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
    @media only screen and (max-width: 500px) {
      width: 36px;
      height: 36px;
      margin-bottom: -7px !important;
    }
  }

  @media only screen and (max-width: 500px) {
    flex-direction: row;
    margin: 0;
    > [class~="MuiFormControl-root"] {
      margin-left: 16px;
    }
    img {
      margin-bottom: 0;
    }
    .inputEmojis {
        margin-top: 20px;
        >[class~="MuiInputAdornment-root"] {
          display: none;
        }
    }
    [class~="MuiTypography-root"] {
      margin-left: 9px;
    }
  }
}

.invertScaleContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  @media only screen and (max-width: 500px) {
    margin-top: 14px;
  }
}

.rowInputAttributeControl {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 35px;
  position: relative;
  cursor: grab;
  &:hover {
    .iconDotsDrag {
      visibility: visible;
    }
  }
}
.rowInputAttribute {
  width: 90%;
  margin-right: auto;
  .attributeTitle {
    display: none;
  }

  @media only screen and (max-width: 500px) {
    .attributeTitle {
      display: block;
    }
  }
}

.closeInputAttribute {
  position:absolute;
  top:0;
  right:0;
  color: var(--eerie-black-65);
  cursor: pointer;
  @media only screen and (max-width: 500px) {
      right: -12px;
    }
}

.inputContainer {
  [class~="MuiTypography-root"]{
    margin-left: 9px;
  }
}

.iconDotsDrag {
  width: 25px;
  height: 40px;
  position: absolute;
  top: -9px;
  left: 0;
  visibility: hidden;
  color: var(--eerie-black-65);
  @media only screen and (max-width: 767px) {
    visibility: visible;
    color: var(--eerie-black-40);
  }
}

.IconListAdd {
  width: 40px;
  height: 25px;
  margin-right: 10px;
  margin-left: -20px;
  color: var(--eerie-black-65);
  @media only screen and (max-width: 500px) {
    margin-left: 10px;
    margin-right: 0;
   }
}

.inputQuestion {
  min-height: 42px;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 8px;
  input {
    padding: 0px;
  }
}

.iconLanguage {
  color: var(--eerie-black-65);
  background-color: rgba(221, 221, 221, 1);
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14.6px;
  text-transform: uppercase;
}

.multiAttributeControl {
  margin-top: 18px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 500px) {
    margin-top: 10px;
  }
}

.toggle{
  margin-left:24px;
  @media only screen and (max-width: 500px) {
    margin-left: auto;
  }
}

.btnSave {
  @media only screen and (max-width: 1024px) {
    margin-right: 0;
  }
}

.footer {
  @media only screen and (max-width: 767px) {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    .btnSave {
      width: 100%;
      margin-right:0;
      margin-top:16px; 
    }
  }
}

.costContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
  margin-top: 8px;
  @media only screen and (max-width: 767px) {
    margin-right:0;
  }
}