.editorError {
  [class~="ql-toolbar"] {
    border-color: var(--red-error) !important;
  }
  [class~="ql-container"] {
    border-color: var(--red-error) !important;
  }
}

.editor {
  height: 300px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  [class~="quill"] {
    height: calc(100% - 19.2px);
    [class~="ql-container"] {
      height: calc(100% - 41.6px);
      [class~="ql-tooltip"] {
        left: 0% !important;
        top: 0% !important;
      }
    }
  }
}
