.customTextField {
  & input {
    height: 10px;
    width: 40%;
  }

  & fieldset {
    border-radius: 40px;
    border-color: var(--blue-500);
  }
}
.boxContainer {
  background-color: #fff;
  border-radius: 8px;
}

.boxTabPanel {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}
