.root {
  max-width: 1048px;
  margin: auto;
  display: flex;
  padding: 0px;
  @media only screen and (max-width: 845px) {
    display: grid;
  }
}
.divider1 {
  display: none;
  @media only screen and (max-width: 845px) {
    display: flex;
    margin-bottom: 25px;
  }
}
.left {
  border-right: 1px solid var(--gray-10);
  border-radius: 4px;
  padding: 24px 32px 96px 32px;
  width: 70%;
  @media only screen and (max-width: 845px) {
    width: 100%;
    border: unset;
    border-radius: 0px;
    margin-right: 0px;
    padding: 0px 16px;
    .heading1 {
      padding: 0px 24px;
    }
  }
}
.right {
  width: 50%;
  height: fit-content;
  padding: 32px;
  .sumaryBox {
    border-radius: 4px;
    height: fit-content;
    @media only screen and (max-width: 845px) {
      border: unset;
      border-radius: 0px;
      margin-right: 0px;
      margin-bottom: 32px;
      padding: 0px;
    }
  }

  @media only screen and (max-width: 845px) {
    width: 100%;
    margin-right: 0px;
    padding: 0px 16px;
  }
}
.customTextField  {
  fieldset{
    border: 1px solid var(--gray-40) !important;
  }
  input{
   background: var(--white);
 }
}
.informationBox {
  @media only screen and (max-width: 845px) {
    padding: 0px 24px 16px;
  }
}
.checkRadio {
  color: var(--cimigo-blue) !important;
}
.rootRadio {
  color: var(--gray-60);
  padding: 0;
  margin-right: 16px;
}

.title {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  img {
    margin-right: 8px;
  }
}
.titleSub {
  margin-top: 8px;
}
.titleInfo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.lable {
  padding: 16px;
  border: 1px solid var(--gray-5);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  &:has(.checkRadio) {
    background: var(--cimigo-blue-light-5);
    border: 1px solid var(--gray-20);
  }
}
.radioGroup {
  margin-bottom: 32px;
  @media only screen and (max-width: 845px) {
    margin-bottom: 16px;
    padding: 0px;
  }
  hr {
    display: none;
  }
}
.btnClose,
.btnCloseMobile {
  position: relative;
  float: right;
  transform: translate(16px, -8px);
  background: transparent;
}
.btnClose {
  @media only screen and (max-width: 845px) {
    display: none;
  }
}
.btnCloseMobile {
  display: none;
  @media only screen and (max-width: 845px) {
    display: block;
  }
}
.tips {
  display: flex;
  align-items: center;
  [class~="MuiFormControlLabel-root"] {
    margin-right: 4px;
    [class~="MuiTypography-root"] {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 0.05em;
      color: var(--eerie-black-65);
    }
  }
}
.bodyOrder {
  margin-bottom: 32px;
  .sumaryTitle {
    margin-bottom: 24px;
    @media only screen and (max-width: 845px) {
      display: none;
    }
  }
  hr:not(:first-child) {
    margin: 16px 0;
  }
}
.isMobile {
  display: none !important;
  @media only screen and (max-width: 845px) {
    display: flex !important;
  }
}
.btn {
  border-radius: 4px;
  @media only screen and (max-width: 845px) {
    display: none;
  }
}
.flexOrder {
  display: flex;
  justify-content: space-between;
  padding: 2px 0px;
  flex-wrap: wrap;
  > * {
    @media only screen and (max-width: 845px) {
      font-size: 14px;
    }
    &:last-child {
      white-space: nowrap;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.flexTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.flexTotalMobile {
  display: none;
  @media only screen and (max-width: 845px) {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 16px 24px;
    margin-top: 24px;
    align-items: center;
    position: sticky;
    bottom: 0;
    div {
      display: grid;
    }
  }
}
.btnMobile {
  white-space: nowrap;
}
.methodImg {
  margin-top: 10px;
  display: flex;
  align-items: center;
  img {
    height: 22px;
    width: auto;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
.chargedBy {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.popperClass.popperClass {
  [class~="MuiTooltip-tooltip"] {
    padding: 8px 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: var(--eerie-black-65);
  }
}
.paddingMobile {
  @media only screen and (max-width: 845px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
