.divider{
    margin-top: 10px;
    margin-bottom: 10px;
}

.detailGroup{
    margin: 20px;
}

.detailItem{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.detailContainer{
    padding: 0;
    margin-bottom: 20px ;
}

.textFieldGroup{
    width: 60%;
    height: 500px;
}

.iconItem{
    width: 13px;
    margin-right: 5px;
    filter: invert(77%) sepia(64%) saturate(0%) hue-rotate(269deg) brightness(91%) contrast(80%);
}
