.divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.detailGroup {
  margin: 20px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.detailContainer {
  padding: 0;
  margin-bottom: 20px;
}

.textFieldGroup {
  width: 60%;
  height: 500px;
}

.iconItem {
  width: 13px;
  margin-right: 5px;
  filter: brightness(0) saturate(100%);
}

.topGroup {
  padding: 20px;
}

.map-item {
  width: 100%;
  height: 600px;
  border: 1px solid var(--gray-30);
}
