$pacing-main: 15px;

.location-management-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: $pacing-main;
  padding-bottom: 0;
  // margin-top: 60px;
  height: 100vh;
  background-color: var(--blue-50);
}

.container-body {
  // width: calc(100% - 300px);
  background-color: #fff;
  border-radius: 8px;
  padding: $pacing-main;
}

.table-container {
  margin-top: calc($pacing-main * 2);
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-custom {
  margin-top: $pacing-main;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.noList {
  text-align: center;
}
