.container {
    padding-bottom: 15px;
    width: 100%;
}
.textTitle {
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: rgba(28, 28, 28, 0.65);
}

.textError {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.015em;
    color: #af1c10;
    padding-top: 5px;
    padding-left: 16px;
    white-space: initial;
}
.iconOption {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    object-fit: contain;
}
.iconValue {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    object-fit: contain;
}
