.root {
  position: absolute;
  top: 0;
  background-color: var(--white);
  width: 100%;
  padding: 0 24px;
}

.hidden {
  display: none;
}

.actionWrapper {
  display: flex;
  @media only screen and (max-width: 575px) {
    flex-direction: column;
    button {
      justify-content: flex-start;
    }
  }
  button {
    width: fit-content !important;
    padding: 16px 8px !important;
  }
}
.dashboard {
  background: var(--cimigo-blue-light-4);
}
.iframe {
  border: none;
}
