.titleDisabled {
  color: var(--gray-40) !important;
}

.titleSubDisabled {
  color: var(--gray-60) !important;
}
.note {
  span{
    font-weight: 600;
  }
}
.desktopTable {
  margin-top: 24px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  .rowListImg {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    object-fit: contain;
  }
  .rowItem {
    .dragIcon {
      font-size: 24px;
      color: var(--eerie-black-40);
      visibility: hidden;
    }
    &:hover {
      .dragIcon {
        visibility: visible;
      }
    }
    &.rowItemDraging {
      display: table;
    }
  }
}

.menuItem {
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  .menuItemText {
    font-size: 14px !important;
    margin-left: 12px;
    color: var(--eerie-black-90);
  }
  &:hover {
    .menuItemText {
      color: var(--eerie-black-90) !important;
    }
  }
}

.price {
  background: #ffffff;
  border: 1px solid var(--gray-20);
  border-radius: 30px;
}

.mobileTable {
  display: none;
  margin-top: 24px;
  @media only screen and (max-width: 767px) {
    display: block;
  }
  .itemListMobile {
    background: #ffffff;
    border-left: 1px solid var(--gray-20);
    border-right: 1px solid var(--gray-20);
    border-bottom: 1px solid var(--gray-20);
    &:first-child {
      border-top: 1px solid var(--gray-20);
      border-radius: 4px 4px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px 4px 4px;
    }
    .itemListTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .priceMobile {
      background: #ffffff;
      border: 1px solid var(--gray-20);
      border-radius: 30px;
      height: 24px;
    }
  }
}
