.paper {
  max-width: 676px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}
.form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rootList {
  padding: 16px 0px 24px 0;
  @media only screen and (max-width: 767px) {
    padding-top: 24px;
  }
}

.subInputTitle {
  padding-bottom: 8px;
}

.inputPoint {
  min-height: 42px;
  border-radius: 5px;
  padding-left: 16px;
  input {
    padding: 0px;
  }
}

.iconLanguage {
  color: var(--eerie-black-65);
  background-color: rgba(221, 221, 221, 1);
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14.6px;
  text-transform: uppercase;
}
.rootListItem {
  &:nth-child(even) {
    background: #eef0f2;
  }
}
.rootListItem > div {
  &:first-child {
    display: block;
    @media only screen and (max-width: 767px) {
      padding: 0px;
    }
  }
}
.tips {
  display: flex;
  align-items: flex-start;
  img {
    cursor: pointer;
  }
}
.itemTip {
  display: flex;
  flex-direction: row;
  color: var(--gray-80);
}
.itemDotTip {
  margin: 0 10px;
}

.border {
  background: var(--gray-60);
  width: 1px;
  height: 96px;
  margin: auto 8px;
  @media only screen and (max-width: 676px) {
    height: 120px;
  }
  @media only screen and (max-width: 427px) {
    height: 166px;
  }
  @media only screen and (max-width: 345px) {
    height: 186px;
  }
}

.tipsDescription > p {
  margin-bottom: 8px;
}

.btn {
  border-top: 1px solid var(--gray-20);
  button:not(:first-child) {
    margin-left: 16px;
  }
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    button {
      width: 100%;
      &:not(:first-child) {
        margin-left: 0;
      }
      &:first-child {
        margin-top: 8px;
      }
    }
  }
}

.btnSave {
  min-width: 123px;
}