.root {
}
.container {
  margin: auto;
  display: flex;
  padding: 50px 64px;
  width: 100%;
  @media only screen and (max-width: 1024px) {
    padding: 50px 24px;
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
// ---------------------Left------------------
.left {
  min-width: 300px;
  min-height: 200px;
  max-width: 300px;
  margin-right: 24px;
}
.titleLeft {
  margin: 0;
  padding-top: 18px;
}
.titleRight {
  padding-right: 32px;
}
.list {
  background-color: rgba(28, 28, 28, 0.05);
  border-radius: 4px;
  margin-top: 22px;
  padding-top: 0px !important;
}
.subTitle {
  position: unset;
  color: rgba(28, 28, 28, 0.65);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background-color: rgba(28, 28, 28, 0.05);
  border-radius: 4px 4px 0px 0px;
}
.subTitle1 {
  position: unset;
  background-color: rgba(28, 28, 28, 0.65);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fafaff;
  padding: 0px 32px;
}
.btnAction {
  .iconAction:last-child {
    color: var(--red-error);
  }
}
.rootList:hover .btnAction {
  display: block !important;
}
.folderListItemSelected {
  .folderListItem:hover,
  .folderListItem {
    color: var(--white);
    background-color: var(--eerie-black-65) !important;
  }
  .folderListItemAll {
    color: var(--white);
    background-color: var(--eerie-black-65) !important;
    border-radius: 4px 4px 0px 0px;
  }
  p {
    color: var(--white);
  }
  .btnAction {
    display: none;
  }
}
.btnAction {
  display: none;
}
.folderListItem {
  padding-left: 32px;
  padding-right: 92px !important;
  &:hover {
    color: #1c1c1c;
    background-color: rgba(28, 28, 28, 0.05) !important;
  }
  .itemAll {
    padding-left: 24px;
  }
}
.iconAction {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  &:hover {
    background-color: #ffffff !important;
  }
}
.btnFolder {
  display: flex;
  margin: 50px auto 16px;
}
.menuAction {
  min-width: 170px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 8px rgba(28, 28, 28, 0.12);
  border-radius: 4px;
  .itemAciton {
    padding: 8px 16px;
    min-height: 40px;
    svg {
      color: var(--gray-80);
      font-size: 20px;
    }
    p {
      margin-left: 12px;
      color: var(--gray-80);
    }
    &:hover {
      background: var(--cimigo-blue-light-4);
      &:not(.itemAcitonDelete) {
        svg {
          color: var(--cimigo-blue);
          font-size: 20px;
        }
        p {
          color: var(--cimigo-blue);
        }
      }
    }
    &.itemAcitonDelete {
      svg {
        color: var(--red-error);
      }
      p {
        color: var(--red-error);
      }
    }
  }
}

// --------------------Right--------------------

.right {
  flex: 1;
  min-width: 0;
  min-width: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-top: -8px;
  margin-left: -16px;
  flex-wrap: wrap;
  > * {
    margin-top: 8px;
    margin-left: 16px;
  }
  .headerLeft {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .headerLeftSub {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .headerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    button {
      white-space: nowrap;
    }
  }
}
.table {
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 4px;
  min-height: 683px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tableHead {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 90px;
}
.tableBody {
  cursor: pointer;
  td {
    border-bottom: none;
    padding: 12px 15px;
  }
  &:nth-child(even) {
    background: #f9f9f9;
  }
  &:hover {
    background: #eef0f2;
  }
}

.inputSearch {
  min-width: 150px;
  margin-right: 16px;
}
.rootSelect {
  min-width: 135px;
  margin-left: 15px;
  @media only screen and (max-width: 860px) {
    width: 100%;
    max-width: 220px;
  }
  @media only screen and (max-width: 818px) {
    max-width: 220px;
  }
  @media only screen and (max-width: 767px) {
    max-width: 127px;
    margin-right: 0px;
  }
}
.rootSelect > div > div {
  padding: 4.5px 14px;
}
.rootSelect {
  fieldset {
    border-color: var(--eerie-black-40) !important;
  }
  [class~="Mui-focused"] {
    fieldset {
      border: 1px solid var(--eerie-black-40) !important;
    }
  }
}
.icSelect {
  right: 15px;
  color: var(--gray-60);
}
.selectType {
  font-weight: 500;
  font-size: 12px;
  color: #1f61a9;
  button {
    display: none;
  }
}
.selectMobile {
  max-height: 200px;
}

.selectMenu {
  margin-top: 8px;
  ul {
    padding: 4px 0;
    min-width: 170px;
    li {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: rgba(28, 28, 28, 0.9);
      padding: 8px 16px 8px 16px;
      &[class~="Mui-selected"],
      &:hover {
        background: #e8f1fb;
      }
      &[class~="Mui-selected"] {
        p {
          color: var(--cimigo-blue);
        }
      }
    }
  }
}
// --------------------Mobile--------------------

.containerMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    padding: 24px 19px;
  }
}
.inputMobile {
  border-radius: 40px;
  margin: 24px 0px;
}
.headerMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listProject {
  display: block;
  margin: 24px auto;
}
.listItemProject {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--eerie-black-20);
}
.listItemProject > div {
  margin-right: 10px;
}
.itemNameMobile {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #1c1c1c;
  margin-bottom: 4px;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  @media only screen and (max-width: 359px) {
    width: 200px;
  }
}
.itemDateMobile {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: rgba(28, 28, 28, 0.65);
  padding-bottom: 8px;
}
.itemStatusMobile {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  span {
    width: 8px;
    height: 8px;
  }
}
.successBoxContainer {
  padding: 50px 64px 0px;
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  @media only screen and (max-width: 1024px) {
    padding: 50px 24px;
  }
  .successBox {
    display: flex;
    align-items: center;
    padding: 7px 15px 7px 24px;
    border: 1px solid #7c9911;
    border-radius: 4px;
    width: 100%;
    max-width: 780px;
    .successIcon {
      color: #7c9911;
      margin-right: 18px;
    }
    .successText {
      flex: 1;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.015em;
      color: rgba(28, 28, 28, 0.9);
    }
    .successBtn {
      margin-left: 10px;
    }
  }
}
.itemStatus:hover {
  p {
    color: var(--cimigo-blue);
  }
}
.itemSelectMobie {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  @media only screen and (max-width: 360px) {
    width: 150px;
  }
}
.selectFolderMobile {
  @media only screen and (max-width: 767px) {
    max-width: 300px;
    max-height: 250px;
  }
  @media only screen and (max-width: 360px) {
    max-width: 200px;
    max-height: 250px;
  }
}
