.root1 {
  max-width: 1000px;
  margin: auto;
  display: flex;
  @media only screen and (max-width: 767px) {
    max-width: 1000px;
    display: grid;
  }
}

.changePaymentMethodTitle {
  text-align: center;
  padding: 26px 0 12px;
  @media only screen and (max-width: 800px) {
    font-size: 25px;
  }
}
.divider1 {
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
    margin-bottom: 16px;
  }
}
.left {
  border: 0.5px solid #c4c4c4;
  border-radius: 4px;
  margin-right: 32px;
  padding: 24px;
  width: 70%;
  @media only screen and (max-width: 767px) {
    width: 100%;
    border: unset;
    border-radius: 0px;
    margin-right: 0px;
    padding: 0px;
  }
}
.right {
  width: 50%;
  height: fit-content;
  .sumaryBox {
    border: 0.5px solid #c4c4c4;
    border-radius: 4px;
    height: fit-content;
    @media only screen and (max-width: 767px) {
      border: unset;
      border-radius: 0px;
      margin-right: 0px;
      margin-bottom: 32px;
      padding: 0px;
    }
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
    margin-right: 0px;
    padding: 0px;
  }
}
.checkRadio {
  color: var(--cimigo-green) !important;
}
.rootRadio {
  color: var(--gray-60);
  padding: 0px;
  margin-right: 16px;
}
.titleLeft{
  @media only screen and (max-width: 767px) {
    padding-left: 24px;
  }
}
.titleSub {
  margin-top: 10px;
}
.title {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  img {
    margin-right: 8px;
  }
}
.lable {
  padding: 16px;
  border: 1px solid var(--gray-5);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  &:has(.checkRadio) {
    background: var(--cimigo-blue-light-5);
    border: 1px solid var(--gray-20);
  }
}
.radioGroup {
  margin-bottom: 25px;
  @media only screen and (max-width: 767px) {
    padding: 0 24px;
  }
  hr {
    display: none;
  }
}
.flex {
  display: flex;
  @media only screen and (max-width: 767px) {
    display: grid;
  }
  > div:first-child {
    padding-right: 30px;
    @media only screen and (max-width: 767px) {
      padding-right: 0px;
    }
  }
}
.order {
  form {
    padding-left: 20px;
    padding-right: 80px;
    @media only screen and (max-width: 767px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
.bodyOrder {
  padding: 32px 40px 53px;
  background: var(--ghost-white);
  @media only screen and (max-width: 767px) {
    padding: 0px 40px;
    background:var(--white);
  }
  .titleRigth {
    text-align: center;
    margin-bottom: 32px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  hr {
    margin: 8px 0px;
  }
}
.isMobile {
  display: none !important;
  @media only screen and (max-width: 767px) {
    display: flex !important;
  }
}
.notMobile {
  @media only screen and (max-width: 767px) {
    display: none !important;
  }
}
.btn {
  border-radius: 0px 0px 4px 4px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.flexOrder {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
  > * {
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
    &:last-child {
      white-space: nowrap;
    }
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}
.flexTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.flexTotalMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 16px 19px;
    margin-top: 32px;
    align-items: center;
    position: sticky;
    bottom: 0;
    div {
      display: grid;
    }
  }
}
.methodImg {
  margin-top: 10px;
  display: flex;
  align-items: center;
  img {
    height: 22px;
    width: auto;
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
.chargedBy {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.popperClass.popperClass {
  [class~="MuiTooltip-tooltip"] {
    padding: 8px 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: var(--eerie-black-65);
  }
}
.cancelPayment {
  padding: 24px 19px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 767px) {
    border-top: 2px solid rgba(28, 28, 28, 0.05);
  }
  p {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: var(--cimigo-blue);
      text-underline-position: under;
    }
  }
}
