.boxContainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.gridContainer {
  display: grid;
  background-color: #f5f5f5;
}
.gridTable {
  display: grid;
  background-color: #f5f5f5;
}
