.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wardGroup{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.sendFilterButton{
    padding: 10px;
    margin: 20px;
}