.root {
    width: fit-content;
    background: #fff;
    padding: 4px 12px;
    height: 32px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    border-radius: 50px;
}
.red {
    color: #af1c10;
    border: 1px solid #af1c10;
}
.gray {
    border: 1px solid rgba(28, 28, 28, 0.2);
    color: #1c1c1c;
}
.yellow {
    color: #af814d;
    border: 1px solid #af814d;
}
.green {
    color: #7c9911;
    border: 1px solid #7c9911;
}
