.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 360px;

  .iconBack {
    display: flex;
    justify-content: right;
  }
}

.boxWrapped {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 15px;
  background-color: #edf7ed;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
