$pacing-main: 15px;

.location-edit-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: $pacing-main;
  margin-top: 60px;
  background-color: var(--blue-50);
}

.container-body {
  width: calc(100% - 300px);
  background-color: #fff;
  border-radius: 8px;
  padding: $pacing-main;
}

form {
  margin-top: $pacing-main;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: $pacing-main;
}

.input-error-container {
  width: 70%;
}

.input-property {
  width: 70%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 $pacing-main;
}

.input-custom,
.select-custom {
  height: 40px;
  width: 100% !important;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 $pacing-main;
}

.coordinates-container {
  width: 70%;
  display: flex;
  justify-content: space-between;

  .input-small {
    width: 100%;
  }
}

.textarea-custom {
  height: 100px !important;
  width: 100% !important;
  border-radius: 8px;
  resize: none;
  border: 1px solid #ccc;
  padding: $pacing-main;
}

.input-small {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-small:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.image-wrapper {
  width: 100% !important;
}

.error-text {
  color: rgb(246, 22, 22);
}

label {
  font-weight: 800;
}
