.paper {
  max-width: unset;
  max-height: unset;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  @media only screen and (max-width: 767px) {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 0 !important;
    overflow: hidden;
  }
}
.memu {
  [class~="MuiPaper-root"] {
    border: 1px solid var(--gray-6);
    margin-top: 8px;
  }
}
.headerPopup{
  background-color: var(--white) !important;
  border-bottom: 1px solid var(--gray-20);
  padding: 20px 24px;
}
.contentPopup{
  padding: 0 !important;
  iframe{
    border: none;
  }
}
.footerPopup{
  padding: 24px;
  border-top: 1px solid var(--gray-20);
}