.root {

}

.main {
    display: flex;
    justify-content: center;
    padding: 10px 0px 28px;
    background: #ffffff;
    @media only screen and (max-width: 767px) {
        padding: 0;
    }
    .content {
        background-color: #ffffff;
        width: 764px;
        max-width: 764px;
        margin-bottom: 10px;
        position: relative;
        .toggleMenu {
            position: fixed;
            right: 0px;
            top: 60px;
            width: 227px;
            max-width: 227px;
            display: flex;
            justify-content: flex-end;
            @media only screen and (min-width: 1024px) {
                display: none;
            }

            .btnArrow {
                background-color: #dddddd;
                border-radius: 5px 0px 0px 5px;
                max-width: 28px;
                max-height: 28px;
                margin-top: 12px;
                svg {
                    color: var(--eerie-black-65);
                }
            }
        }

        .positionPopper {
            position: absolute !important;
            right: 0% !important;
            top: 100% !important;
            .routeName {
                padding-right: 20px;
            }
            ul {
                padding-top: 5px !important;
                > a > div {
                    background-color: transparent !important;
                    transition: 0.4s;
                    margin-left: 17px;
                    color: var(--eerie-black-65);
                    font-weight: 500;
                    padding: 5px 5px 5px 0px;
                    margin-bottom: 12px;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                    &.borderActive {
                        border-left: 4px solid var(--cimigo-green) !important;
                        color: rgba(28, 28, 28, 1);
                        padding-left: 12px;
                    }

                    &:hover,
                    &:active {
                        border-left: 4px solid var(--cimigo-green) !important;
                        color: rgba(28, 28, 28, 1);
                        padding-left: 12px;
                    }

                    svg {
                        margin-right: 17px;
                    }
                }
            }
        }
    }
}

.menuList {
    margin-top: 0px;
    width: 240px;
    max-width: 240px;
    background-color: #ffffff;
    margin-bottom: 10px;
    transition: 0.4s;
    ul {
        padding: 0px;
        > a {
            > div {
                display: flex;
                align-items: flex-start;
                position: relative;
                border: none;
                color: var(--eerie-black-65);
                font-weight: 500;
                font-size: 16px;
                padding: 14px 20px 14px 34px;
                &:hover:not(.borderActive) {
                    &::after {
                        content: "";
                        position: absolute;
                        right: 0px;
                        height: 36px;
                        border-right: 4px solid var(--cimigo-green) !important;
                    }
                }
                svg {
                    height: 20px;
                    width: 20px;
                    margin-top: 3px;
                    margin-right: 13px;
                }
                &.borderActive {
                    color: rgba(28, 28, 28, 1);
                    &::after {
                        content: "";
                        position: absolute;
                        right: 0px;
                        height: 36px;
                        border-right: 4px solid var(--cimigo-green) !important;
                    }
                }
                &:hover {
                    color: rgba(28, 28, 28, 1);
                }
            }
        }
    }
}

.btnLogout {
    width: 100%;
    color: var(--eerie-black-65);
    border-radius: 0px;
    padding: 7px 0px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    svg {
        width: 20px;
        height: 20px;
        margin-left: 34px;
    }
    p {
        margin-left: 9px;
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        padding: 0px 20px 0px 7px;
        width: 100%;
        text-align: left;
        white-space: pre-wrap;
        line-height: 20px;
        @media only screen and (min-width: 1024px) {
            padding-right: 10px !important;
            margin-left: 6px !important;
        }
    }
    @media only screen and (min-width: 1024px) {
        padding: 15px 0px;
    }
    @media only screen and (max-width: 1024px) {
        margin-left: 17px;
        margin-top: 12px;
        &:hover,
        &:active {
            color: rgba(28, 28, 28, 1);
            background-color: transparent;
            border: none;
            border-left: 4px solid var(--cimigo-green);
            svg {
                margin-left: 13px;
            }
        }
        svg {
            margin-left: 1px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .menuList {
        display: none;
    }
}
