@import "assets/scss/util/breakpoint";

.root {
  z-index: 100;
}
.drawerPaper {
  background: #ffffff;
  border: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  width: var(--drawer-width);
  @include up(md) {
    width: var(--drawer-width);
    height: 100%;
  }
  @include down(sm) {
    width: var(--drawer-width);
    display: block;
    height: 100vh;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

.logo {
  position: relative;
  padding: 0px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    right: 15px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
  }
}

.logoImage {
  max-width: calc(var(--drawer-width) - 30px);
}

.img {
  width: 178px;
  vertical-align: middle;
  border: 0;
}

.sidebarWrapper {
  width: var(--drawer-width);
  height: calc(100vh - 70px);
  z-index: 4;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.list {
  padding: 0px;
  position: unset;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.item {
  display: block;
  position: relative;
  text-decoration: none;
}

.itemLink {
  width: auto;
  margin: 5px 10px 0;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  transition: all 300ms linear;
  font-weight: 300;
  line-height: 1.5em;
  border-radius: 3px;
  background-color: transparent;
}

.itemLinkActive {
  box-shadow: 0 12px 20px -10px rgb(0 172 193 / 28%), 0 4px 20px 0 rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 172 193 / 20%);
  background-color: var(--cimigo-blue);
  &:hover,
  &:focus {
    box-shadow: 0 12px 20px -10px rgb(0 172 193 / 28%), 0 4px 20px 0 rgb(0 0 0 / 12%),
      0 7px 8px -5px rgb(0 172 193 / 20%);
    background-color: var(--cimigo-blue);
  }
}

.itemIcon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  float: left;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  color: #999999;
}

.itemIconActive {
  color: rgba(255, 255, 255, 0.8);
}

.itemText {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: #666666;
}

.itemTextActive {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
